.project-tag{
	width: 100%;
	margin: 10px 0;
}
.list-project-tag{
	list-style: none;
	text-align: center;
}
ul.list-project-tag li{
	display: inline-block;
	padding: 8px;
	
}
ul.list-project-tag li a{
	text-decoration: none;
	color: #56822C;
	font-weight: 600;
	font-size: 16px;
	transition: all 0.5s;
	background:#EFEEDE;
	padding: 8px;
	display: inline-block;
	border-radius: 3px;
}
ul.list-project-tag li a:hover{
	background: #76BA1B;
	color: white;
	border: solid 1px gray;
}
/*-----------end all project--------------*/

/*-------------project detail------------*/
.wrap-project-detail{
	width: 100%;
	margin: auto;
}
.project-info{
	padding: 2vw 10vw;
}
.project-info h2{
	padding-bottom: 5px;
	font-size: 22px;
	font-weight: bold;
}
.project-info ul{
	list-style: disc;
}
.project-info ul li{
	line-height: 1.5;
}
/*---------project image ---------*/
.project-img-container{
	width: 100%;
	margin: auto;
	text-align: center;

}
.wrap-img{
	width: 100%;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
	
}
.wrap-img img{
	width: 85%;
	height: auto;
	border-radius: 5px;
	border: solid 1px black;
	box-shadow: 2px 1px 8px black ,3px 1px 8px gray ;
	opacity: 0.8;
}

.wrap-img p{
	text-align: center;
	background:#d7e0d2;
	width: 85%;
	color: #453d82;
	margin: auto;
	border-radius: 5px;
	padding: 5px;
	transition: all 0.5s;
}
.wrap-img p:hover{
	background: gray;
	color: white;
}