@import url('https://fonts.google.com/?selection.family=Oswald');
*{
	box-sizing: border-box;
	


}
.wrap{
	font-family:Oswald;
	position: relative;
	width: 100%;
	margin: 0 auto;
	font-size: 20px;

}
/* ----------header--------*/
.header{
	font-family: Oswald;
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 1550px;
}
.nav{
	background: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	

}


/*-----nav-left---------*/
.nav-left{
	width: 20%;
	float: left;
	padding-left: 10px;

}
.nav .nav-left a .logo{
	width: 180px;
	height: auto;
}
/* -------end nav-left------*/
/*---------nav-right----------*/
.nav-right{
	width: 80%;
	float: left;
	height: 100%;
}
.nav-right ul.menu{
	
	text-align: right;
	height: 100%;
}
.nav-right ul.menu li{
	display: inline-block;
	height: 100%;
	padding: 20px 10px;
	position: relative;
}
.nav-right ul.menu li a{
	color: white;
	text-decoration: none;
	font-weight: 600;
	font-size: 16.5px;

}
.active{
	color: yellow;
}
.nav-right ul.menu li a:hover{
	color: yellow;
}
.clear{
	content: "";
	clear: both;
}
/*--------sub menu-------*/
.sub-menu{
	position: absolute;
	top: 56px;
	width: 200px;
	text-align: left;
	background: rgba(0,0,0,0.5);
	left: 0;
	display: none;
	transition: display 1s;
	border-radius: 5px;
}
.active{
	color: yellow;
}
.sub-menu li{
	padding: 10px !important;
}
.nav-right ul.menu li:hover .sub-menu{
	display: block;
}
/* ------end submenu*-------*/

/* ---------end nav-right------*/
/* ----menu mobile----*/

.icon-menu-mobile{
	position: fixed;
	z-index: 10;
	display: none;

}
.icon-menu-mobile i{
	font-size: 33px;
	color:#736b6b;
}
.icon-menu-mobile i:hover{

}
.menu-mobile{
	
	position: fixed;
	top: 40px;
	right: 0;
	height: 100%;
	width: 0px;
	transition: width 0.3s ;
	font-size: 12px;
	z-index: 2;
	
}

.menu-mobile ul{
	border:1px solid #ececec;
	padding: 10px 0;
	background: #676668;
	border-radius: 5px;
	height: 100%;
	
	
}
.menu-mobile ul li{
	padding: 15px 0;
	text-indent: 10px;
	text-align: left;
	border-bottom: solid 1px black;
	width: 100%;
}
.menu-mobile ul li a{
	text-decoration: none;
	font-weight: 600;
	color: white;
	text-transform: uppercase;

}
ul.sub-menumobile{
	display: none;
	padding: 0 !important;
	margin: 0;
	border: none !important;
	background: rgb(65, 64, 66) !important;
}
.sub-menumobile li{
	border-bottom: none !important;

}
.menu-mobile ul li:hover .sub-menumobile{
	display: block;
}

/* -----end menu mobile----*/
/*--------------- carousel-----------*/
.carousel{
	font-family: 'Montserrat';
	position: relative;
	max-width: 1550px;
	width: 100%;
	overflow: hidden;
	max-height: 50vw;
}
.carousel .carousel-caption{
	position: absolute;
	top: 30%;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
	color: white;
	font-size: 4vw;
	text-shadow: 1px 1px 3px black;
}
.fade{
	animation: fade 5s;
	-webkit-animation: fade 5s;
	
}
@keyframes fade{
	0%{
		transform: scale(1.15, 1.15);
		opacity: 0.8;
	}
	25%{
		
		
	}
	50%{
		
		opacity: 1;
	}
	100%
	{
		transform: scale(1, 1);
	}
	
}
-webkit-@keyframes fade{
	0%{
		-webkit-transform: scale(1.15, 1.15);
		opacity: 0.8;
	}
	25%{
		
		
	}
	50%{
		
		opacity: 1;
	}
	100%
	{
		-webkit-transform: scale(1, 1);
	}
}
.carousel .slide-caption{
	position: absolute;
	top: 30%;
	left: 20%;
}
.carousel .slide{
	overflow: hidden;	
}
.carousel .slide .slide-img{
	transition: all 1s;
	overflow: hidden;
	width: 100%;

}
.carousel .slide .slide-img img{
	max-width: 100%;
	width: 100%;
	height: auto;
}
/*-------class dot---------*/
.currentSlide{
	position: absolute;
	bottom: 1.5vw;
	left: 0;
	text-align: center;
	width: 100%;
}
.dot{
	cursor: pointer;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: gray;
	display: inline-block;
}
.dot:hover{
	background: white;
}
.slide-active{
	background: white;
}
/*---------button next, previous --------------*/
.next,.prev{
	position: absolute;
	top: 45%;
	color: white;
	font-weight: 700;
	font-size: 30px;
	padding: 10px 20px;
	display: inline-block;
}
.next{
	right: 0;
}
.next:hover,.prev:hover{
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	border-radius: 50%;
}

/* -------------end carousel---------*/
/* --------------end header----------------*/


/*---------content------------*/
.contaner{
	font-family:Oswald;
	width: 100%;
	margin: auto;
	max-width: 1550px;
	position: relative;
}
.container .container-project
{
	width: 100%;
	margin: auto;
}
.container .container-project .container-project-content
{
	padding: 30px 10% ;
	text-align: center;

}
.container .container-project .container-project-content h3{
	font-weight: bold;
	font-size: 23px;
	margin-bottom: 13px;
}
.container .container-project .container-project-content p{
	line-height: 1.5;
}
/*------container-project-img-----------*/
.container-project-image{
	width: 100%;
	margin: auto;
	position: relative;
}
.container-project-image .row .col-3 div img
{
	width: 96%;
	height: auto;
	transition: transform 0.5s;
	 box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 2px rgba(0, 0, 0, 0.19);

}
.container-project-image .row .col-3 div img:hover{

	transform: scale(1.05, 1.05);
	cursor: pointer;
	border-radius:  5%;

}
.project-name{
	position: absolute;
	bottom: 1.5vw;
	width: 100%;
	text-align: center;
	z-index: 1;
	color: white;

	font-size: 21px;
	}
.all-project{
	margin-top: 10px;
	width: 100%;
	text-align: center;
	background: gray;
	padding: 10px;
	transition: background 1s;
}
.all-project a{
	text-decoration: none;
	color: white;
}
.all-project:hover{
	background: #b98484;
	font-weight: bold;
}
/*------------price-----------*/
.container-price-content{
	padding: 10px 8%;
	text-align: center;

}
.container-price-content h3{
	margin-top: 20px ;
	margin-bottom: 10px;
	color: black;
	font-weight: bold;
	font-size: 23px;
}
.container-price-content p{
	line-height: 1.7;
}
/*---------content price-------*/
.container-price .row .col-3{
	margin: 0.5% 0 !important:;
	box-shadow: 1px 3px 3px gray, 1px 3px 3px gray;
	transition: transform 0.4s;
	height: 560px;
}
.container-price .row .col-3:hover{
	transform: scale(1.02, 1.02)

}
.price-title{
	background: gray;
	
}
.price-title-top{
	border-bottom: 1px solid white;
	padding: 13px 0;

}
.price-title-top h2{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.price-title-bot{
	padding: 15px 0;
	color: white;
}

.price-title-bot p{
	margin: 15px;

}
.title{
	font-weight: bold;
	color: yellow;
	font-size: 23px;
}
/* -----------price content*/
.price-content{
	padding: 15px 10px;
	text-align: left;
	font-size: 18px;
}
.price-content p{
	margin-bottom: 20px;
}
.price-content p span{
	color: green;
	padding-right: 2%;
}
/*---------end price---------*/

/*---------end content------------*/
/* -----footer----------*/
.footer{
	width: 100%;
	margin-top: 20px;
	font-family:Oswald;
	position: relative;
}
.footer-left{
	padding: 0 7vw;
	float: left;
	width: 60%;
	padding-bottom: 20px;
}
.footer-left h2,.footer-right h2{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}
.footer-left ul,.footer-right ul{
	margin-left: 20px;
}
.footer-left ul li,.footer-right ul li{
	list-style-type: disc;
	line-height: 1.4;
	font-size: 18px;
}
.footer-right{
	width: 40%;
	float: left;
	padding: 0 6vw;
	padding-bottom: 60px;
}
.footer::after{
	clear: both;
	content: "";
}
.footer-logo{
	width: 100%;
	text-align: center;
	clear: both;
	padding-bottom: 10px;
}
.footer-logo img{
	width: 20%;
	height: auto;
}
.hotline{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;
	clear: both;
	display: none;
	text-align: center;
	color: white;
	background: red;
	padding: 3px 0;
	font-weight: 600;
	font-size: 15px;
}

.social{
	border-radius: 100%;
	display: inline-block;

}

.social span a i{
	font-size: 35px;
	color: #4064ad;
	border-radius: 50%;

}
/* -------end footer----------*/

/*-------------content reference--------------------*/
.container-reference{
	width: 100%;
	margin: auto;
	font-size: 16px;

}
.container-reference h1{
	text-align: center;
	width: 35%;
	margin: auto;
	padding-top: 1vw;
	font-weight: bold;
	color: white;
	font-size: 21px;
	padding-bottom: 1vw;
	background: #4faaaf;
	border-radius: 50%;
	margin-top: 1.5vw;
	
}
.wrap-refer-content{
	width: 85%;
	margin: auto;
	padding-top: 2vw;
}

.refer-content-left{
	float: left;
	width: 50%;
}
.refer-content{
	width: 95%;
	margin: auto;
	margin-bottom: 20px;

}
.refer-content:hover{
	opacity: 0.95;
}
.refer-content .content{
	width: 100%;

}
.refer-title{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 8px 0;
	color: white;
	border: solid 1px gray;
	background: #6098b3;
	border-radius: 5px;
}
.refer-content .content p{
	height: 100px;
	overflow: hidden;
	color: rgba(0,0,0,0.8);
	line-height: 1.3;
	background: #e9ebee;
	border-radius: 10px;
	padding: 10px;
	border-left: solid 5px #2ebcc3;
	margin-bottom: 10px;
}

.refer-extend a{
	text-decoration: none;
	color: #385898;
	border: solid 1.5px green;
	padding: 3px;
	border-radius: 5px;
	font-weight: 600;
}

.refer-extend a:hover{
	border-bottom: 1.5px solid #385898;
	color: white;
	background: #385898;
}
.refer-content .refer-img{
	width: 100%;
}
.refer-content .refer-img img{
	width: 100%;
	height: auto;
	border-radius: 5px;
}
.refer-content-right{
	float: left;
	width: 50%;
}
/*----------end content reference---------/