html, body {
	width: 100%;
	height: 100%;
	font-family: 'Gamja Flower';
	font-size: 18px;
	color: #222;

}
.wrapper{
	width: 100%;
	position: relative;
}
.navbar {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3) !important;
	padding: 0 !important;
	

	
}
nav .container-fluid{
    padding-right:0px !important;
   
}
.navbar-light .navbar-nav .active{
	color: yellow !important ;
}
.navbar-light .navbar-nav .nav-link{
	color: white ;
}
.navbar li  a{
    color: white !important;
    padding:6px 1.1vw !important;
}
.navbar li a:hover {
    color: yellow !important;

}
/* slides-next,previous */
.carousel-control-next, .carousel-control-prev
{
    z-index:20;
}
.carousel-control-next:hover,.carousel-control-prev:hover{
    background:rgba(0,0,0,0.2);
}
/* sub-menu */

.dropdown-menu{
	margin-top: 0px !important;
	background: rgba(0,0,0,0.7);

}
.dropdown-menu a:hover{
	background: none;
}
.dropdown:hover>.dropdown-menu,.dropdown:active >.dropdown-menu {
  display: block;
  	z-index:1000 !important;
}
.carousel-indicators{
	bottom: 0px !important;
}
.carousel-indicators li {
	
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.carousel-inner img {
	width: 100%;
}
.carousel-caption {
	position: absolute;
	top: 25%;
}
.carousel-caption h1 {
	font-size: 3.5vw;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
	font-weight: 700;
}
.navbar-toggler-icon{
	z-index: 1000 !important;
	background-color: white !important;
	border: none !important;
	font-size: 3vw !important;
}
.container-fluid{
	z-index: 150 !important;
}
.navbar-branch{
	width: 20% !important;
	padding: 0 !important;

	
}
.navbar-branch img{
	width: 80% ;
	height: auto !important;
	

}
button{
	font-size: 3vw !important;
	background: white !important;
}
 .navbar-toggler-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png") !important;
}
.fa-circle:before{
    font-size:35%;
}

/* container */
.container{
	padding-top: 3vw;
	font-size: 20px;
	 padding-bottom: 3vw;
}
.container h1{
	font-size: 30px;
	font-weight: bold;
}
/* content */
.row{
	padding-top: 10px;
	text-align: center;
	
}
.col-sm-6{
	margin-bottom: 2%;
	position: relative;

}
.col-xl-3 img{
	width: 100%;
	height: 100%;
	position: relative;
}
.col-xl-3 h3 {
    position: absolute;
    bottom: 2%;
    left: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.line {
	width: 100%;
	background: gray;
	text-align: center;
	
	
	
}
.line h3{
	line-height: 35px !important;
}
.line h3 a{

	color: white !important;
	font-size: 20px;
	

}
/* ket thuc xem them du an */
/* bang gia */

.container-fluid .row{
	
	padding: 0 2%;
	
	text-align: center;
}
.row .col-md-6 {
	margin-left: ;
    padding-left:0 !important;
    padding-right:0 !important;
    border:solid 10px rgba(0,0,0,0.05);
   padding-bottom:2%;
	
	
}
.row .col-md-6:hover{
	margin-top: -5px;
}
.row .col-md-6 .column2{
	width: 100%;
	color:red;
	height: 42%;
	padding:20px 0px;
	border-bottom:solid 1px black;
	text-align:left;
}
.column2 h4{
    padding-bottom:4%;
    border-bottom: solid 1px black;
    text-align:center;
}
.column2 p span{
    color:red;
    padding:0 6%;
}

.row .col-md-6 .column2 h4{
	color: red !important;
	font-size: 150%;
	font-weight: bold;
	padding-bottom: 5%;
   
}
.row .col-md-6 .column2 p{
	color: red;
	font-size: 100%;
	padding-top: 2%;
}
.row .col-md-6 .column{
	width: 100%;
	background: gray;
	height: 42%;
	padding:20px 0px;

	
	
}

.row .col-md-6 .column h4{
	color: white !important;
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 5%;
	border-bottom: solid 1px white;
}
.row .col-md-6 .column p{
	color: white !important;
	font-size: 100%;

	padding-bottom:0;
	margin-bottom:0;
}
.row .col-md-6 .column h5{

	font-weight: bold;
	color: yellow;
	padding-top:3%;
}
.row .col-md-6 .column1{
	width: 100%;
	padding-top: 7%;
    text-align:left;
    max-height:100%;
    padding-bottom:5%;

}
.color{
           background-color: rgba(247, 249, 143, 0.83);
}
p{
   margin-bottom:0.5 rem !important;
}
.column1 p span{
    color:green !important;
    padding: 0 3%;
}
/*.fa-check{
	color: green !important;
}
*/
/* end bang gia */
/* footer */

.footer .row{
	text-align: left;
    padding-bottom:5%;
	margin: auto;
}

.footer .row .col-sm-7{
	padding-left: 7%;
	font-size: 17px;
	text-align: left !important;
	padding-right:7%;
}
.col-sm-5 p{

    margin-bottom: 2% !important;
}
.footer .row .col-sm-5{
    padding-left:0 !important;
}
.footer .row .col-sm-5 img{
	width: 50%;
	height: auto;

}
.footer .row .col-sm-7 p i,.footer .row .col-sm-5 p i{
    padding: 0 1%;
}
.fa, .fas {
    font-weight: 900;
    vertical-align: top !important;
}
.hotline{
	width: 100%;
	position: fixed;
	bottom: 0;
	background: red;
	text-align: center;
	color: white;
	display: none;
	z-index:1000;
	padding:2px 5%;
	font-weight:bold;
	font-size:15px;
}
.fa-angle-right{
	font-weight: bold !important;
	color: green;
}
/* end footer */
/* chi tiet du an */
.wrap-du_an{
    width:100%;
    padding:20px 0;
}
.wrap-du-an .container-fluid img{
    width:100%;
    height:auto;
}
/*Media Query*/
@media (max-width: 992px){
	
	.carousel-caption h1{
		font-size:3.7vw;
	}
	.navbar-branch img{
		width: 100%;

	}
	
	
}
@media (max-width: 768px){	
	.navbar-light .navbar-nav .active{
	color: green !important ;
}
.navbar li  a{
    color: black !important;
    font-weight: 500;
}

	.dropdown-menu{
		padding-left: 1vw;
		margin-top: 0 !important;
		background: none;
	}
	.hotline{
		display: block;
	}
	.hotline .fa{
	    vertical-align:middle !important;
	}
	.carousel-caption h1{
		font-size:3.7vw;
	}

	.navbar-branch{
		

	}
	.navbar-branch img{
		width: 140%;
		z-index: 1000 !important;

	}
	.navbar{
		
			background:rgba(249, 245, 245, 0.45)  !important;
			text-align: left;

	}
	.navbar-nav{
		width: 78%;
		background: white;
		padding-left: 5%;
		padding-bottom: 280px;
		

	}
	.navbar-nav li{
		border-bottom: solid 1px #d2c2c2;
		padding:2% 0 !important;
	}

   
}
@media (max-width: 576px){
	.container{
	padding-top: 3vw;
	font-size: 14.5px;
	padding-bottom:3vw;
}
	.container h1{
	font-size: 23px;
	font-weight: bold;
}


	.carousel-caption {
		top: 20%;
		width:100% !important;
		left:2%;
	
	}
	.carousel-caption h1{
		font-size: 4.5vw;
	}
	.navbar{
	
	}
	.footer .row .col-sm-5 {
    padding-left: 2% !important;
    padding-right:0% !important;
}

.container h1{
    font-size:130%;
}
.container h4{
    font-size:130%;
}
.footer .row .col-sm-7,.footer .row .col-sm-5{
    font-size:14.5px;
    padding-left:2%;
    padding-right:0% !important;
    padding-bottom:2%;
}
.footer .row .col-sm-7 h5,.footer .row .col-sm-5 h5{
    font-size:19px;
    font-weight:bold;
}
.footer .row .col-sm-7 p,.footer .row .col-sm-5 p{
    margin-bottom:0.5rem;
}

.carousel-indicators li {
	
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
.column1 p{
    text-align:left;
    padding-left:4%;
}

.row .col-md-6 {

   

    height: 100%;
}
.cangiua{
    text-align:center;
}
.col-sm-6{
    	padding-left:0;
	padding-right:0;

}
.wrap-du_an .container{
    padding-left:0 !important;
    padding-right: 0 !important;
}
}

