.wrap-gt .container{
	padding-bottom: 0;
}
.container-fluid .title-h1{
	text-align: center;
	padding-bottom: 30px;
}

.row .col-xl-2 .wrap-col-1{
	width: 100%;
	
}
.row .col-xl-2 .wrap-col-1 img{
	width: 100%;
	height: auto;
}
.row .col-xl-2 .wrap-col-1 ul{
	padding: 10px 0px 20px 0px;
	margin-left: 5%;
	text-align: left;
}
.row .col-xl-2 .wrap-col-1 ul:first-child{
	font-size: 80%;
}
@media screen and (max-width: 1200px)
{
	.row .col-xl-2 .wrap-col-1 ul{
		margin-left: 20%;
	}
}
@media screen and (max-width:767px)
{
	.row .col-xl-2 .wrap-col-1 ul{
		margin-left: 35%;
		padding-bottom: 0px;
	}
}
@media screen and (max-width:500px)
{
	.row .col-xl-2 .wrap-col-1 ul{
		margin-left: 30%;
	}
}