<div class="wrapper"> 
	<!-- Carousel --> 
	<div id="Controls" class="carousel slide" data-ride="carousel"> 
		<ul class="carousel-indicators"> 
			<li data-target="#slides" data-slide-to="0" class="active"></li> 
			<li data-target="#slides" data-slide-to="1"></li> 
			<li data-target="#slides" data-slide-to="2"></li>		 
			<li data-target="#slides" data-slide-to="3"></li> 
				<li data-target="#slides" data-slide-to="4"></li> 
		</ul> 
		<div class="carousel-inner"> 
			<div class="carousel-caption"> 
					
					 
				</div> 
				<div class="carousel-item active"> 
			    	<img src="http://babylonvietnam.vn/anhdau1.jpg"> 
		       	</div> 
			<div class="carousel-item "> 
				<img src="http://babylonvietnam.vn/anhdau2.jpg"> 
				 
			</div> 
		 
			<div class="carousel-item"> 
				<img src="http://babylonvietnam.vn/anhdau3.jpg"> 
			</div> 
			<div class="carousel-item"> 
				<img src="http://babylonvietnam.vn/anhdau4.jpg"> 
			</div> 
				<div class="carousel-item"> 
				<img src="http://babylonvietnam.vn/anhdau5.jpg"> 
			</div> 
			 <a class="carousel-control-prev" href="#Controls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#Controls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
		</div> 
	</div> 
 
	<!-- Navigation --> 
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top"> 
		<div class="container-fluid"> 
			<a class="navbar-branch" href="../"> 
				<img src="http://babylonvietnam.vn/Babylon%20logo.png" > 
			</a> 
			<button class="navbar-toggler" type="button" data-toggle="collapse"  
				data-target="#navbarResponsive"> 
				<span class="navbar-toggler-icon"></span> 
			</button> 
			<div class="collapse navbar-collapse" id="navbarResponsive"> 
				<ul class="navbar-nav ml-auto menu-mb"> 
				    <li class="nav-item"> 
						<a class="nav-link" href="#">Hotline: 0932 131 694</a> 
					</li> 
					<li class="nav-item"> 
						<a class="nav-link " href="http://babylonvietnam.vn">Giới thiệu</a> 
					</li> 
					 <li class="nav-item dropdown"> 
        				<a href="{{route('userGetAllProject')}}/#AllImage" class=" nav-link">Dự án</a> 
        				<span  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
       					 </span> 
       					 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> 
                            @foreach ($projectTypeList as $projectType)
                                <a class="dropdown-item" href="#">{{$projectType->name}}</a> 
                            @endforeach
				        </div> 
    				</li> 
					<li class="nav-item"> 
						<a class="nav-link" href="{{route("userMainPage")}}/#BangGia">Bảng giá</a> 
					</li> 
					<li class="nav-item"> 
						<a class="nav-link" href="#">Tham khảo</a> 
					</li> 
					<li class="nav-item"> 
						<a class="nav-link" href="#">Liên hệ</a> 
					</li> 
				</ul> 
			</div> 
		</div> 
	</nav> 
</div> 