/*--------------media screen max-width: 1200px -------*/
@media screen and (max-width: 1200px)
{
	.wrap-refer-content
	{
	width: 100%;
	
	}
}
/*--------------end media screen max-width: 1100px -------*/
/*---------------media screen max-width:810px ----------------*/
@media screen and (max-width: 810px)
{
	ul.menu {
		display: none;
	}
	.icon-menu-mobile{
		display:block;
	}
	/*----------nav-------------*/
	.nav{
		background: rgba(253, 253, 253, 0.6);
	}
	.nav .nav-left .logo{
		width: 140px !important;
		height: auto;
	}
	.icon-menu-mobile{
	
	top: 5px;
	right: 13px;
	}
	/*----------end nav---------*/
	/*-------carousel--------*/
	.carousel .carousel-caption{
		font-size: 4vw;
	}
	/*------end carousel-----*/
	.footer-logo img{
		width: 100%;
	}
	/*----------footer--------*/
	.hotline{
		display: block;
	}

	/*-----------project-------------*/
	.list-project-tag{
	
	}

	/*----------reference-------------*/
	.container-reference h1{
		font-size: 18px;
	}

	/*------end reference----------------*/

	
	/*--------introduce----------*/
	.intro-container{
		font-size: 12px;
	}
	.employees-info{
		width: 50%;
	}
	/*-----------end introduce------------*/
}
/*-/*---------------end media screen max-width:810px ----------------*/

/*---------------media screen max-width:650px ----------------*/
@media screen and (max-width: 650px)
{
	.refer-content-left,.refer-content-right{
		width: 100%;
	}
	.footer-left,.footer-right{
		width: 100%;
	}
	.footer-logo img{
	width: 70%;
	height: auto;
		}

}
/*---------------end media screen max-width:650px ----------------*/

/*---------------media screen max-width:500px ----------------*/
@media screen and (max-width: 500px)
{
	.wrap{
		font-size: 14px;
	}
	/*----------------*/
	.container .container-project .container-project-content{
		padding: 15px 8% !important ;
	}
	.container .container-project .container-project-content h3{
		font-size: 18px;
	}
	.container-price-content h3 {
		font-size: 18px;
	}
	.price-title-top h2{
		font-size: 16px;
	}
	.title{
		font-size: 18px !important;
	}
	.price-content{
		font-size: 16px;
	}
	.price-title-bot p {
		font-size: 16px;
	}
	.footer-left ul li{
		font-size: 16px;
	}
	.footer-left h2{
		font-size: 17px;
	}
	.footer-right h2{
		font-size: 17px;
	}
	.footer-right ul li{
		font-size: 16px;
	}
	.footer-logo{
		padding-bottom: 30px;
	}
	.footer-logo img{
		width: 50%;
	}
	.nav .nav-left .logo{
		width: 110px !important;
		height: auto;
	}

	.menu-mobile{
	
	position: fixed;
	top: 32px;
	right: 0;
	height: 100%;
	width: 0px;
	transition: width 0.3s ;
	font-size: 12px;
	
	}
	.icon-menu-mobile
	{
	
	top: 3px;
	right: 13px;
	}
	.icon-menu-mobile i
	{
	font-size: 24px;
	
	}
	.next,.prev{
		font-size: 20px;
	}
	.dot{
		width: 10px;
		height: 10px;
	}
	/*-------carousel--------*/
	.carousel .carousel-caption{
		top: 35%;
		font-size: 4vw;
	}
	/*------end carousel-----*/
	.project-name{
		bottom: 2.5vw;
			font-size:17px;
	}
	.container-price .row .col-3{
		height: auto;
	}
	/*-------footer---------*/


	/*----------reference-------------*/
	.container-reference{
	font-size: 14px;

	}
	.refer-title{
		font-size: 15px
	}
	.container-reference h1{
		font-size: 16px;
	}

	/*------end reference----------------*/
}
/*---------------end media screen max-width:500px ----------------*/




/*-----------------grid view ----------------*/
.row::after {
  content: "";
  clear: both;
  display: table;

}
.row{
	text-align: center;
	width: 100%;
	margin: auto;

}
[class*="col-"] {
  float: left;
 margin:1% 0.5% ;
  box-sizing: content-box;
  position: relative;
  width: 100%;




}
@media screen and (min-width: 500px) and (max-width: 810px)
{
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 49%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
}
@media screen and (min-width: 810px) and (max-width: 1000px)
{
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 24%;}
.col-md-4 {width: 32.33%;}
.col-md-5 {width: 40.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
}
@media screen and (min-width: 1000px)
{
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 24%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
@media screen and (min-width: 500px) and (max-width: 1000px)
{
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 49%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}
/*---------------end grid view---------------*/